<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Cronos</title>
    <link rel="icon" href="{{url}}/img/logo.svg" />
    <style>
        body {
            background-color: #85B0B0;
        }

        h1 {
            color: white;
            text-align: center;
            margin: 100px;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <h1>{{message}}</h1>
</body>