<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{{url}}/img/logo.svg" />
    <style>
        body {
            background-color: #85B0B0;
        }

        .message-content {
            background-color: #002D2B;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            max-width: 450px;
            min-width: 250px;
            margin: 0px auto;
            font-size: 18px;
            border-radius: 8px;
            padding: 0px 0px;
        }

        .message-content-form {
            display: flex;
            flex-direction: column;
            padding: 24px;
        }

        .message-content-form legend {
            align-self: center;
            font-size: 24px;
            margin-bottom: 24px;
        }

        .message-content-form label {
            font-size: 16px;
        }

        .message-content-form-input {
            margin: 8px 0px 24px;
            background-color: #85B0B0;
            padding: 8px 16px;
            border-radius: 8px;
            border: none;
            color: white;
        }

        .message-content-form input:focus {
            outline: none;
        }

        .message-content-button {
            width: 30%;
            min-width: 100px;
            background-color: #85B0B0;
            margin-top: 24px;
            border-radius: 8px;
            align-self: center;
            text-align: center;
            border: none;
            color: white;
            font-size: 16px;
            padding: 8px 16px;
        }

        .message-content-button:hover {
            background-color: rgba(255,255,255, 0.7);
        }

        #snackbar {
            visibility: hidden;
            min-width: 250px;
            background-color: #D32F2F;
            color: #fff;
            border-radius: 8px;
            padding: 16px;
            position: fixed;
            z-index: 0;
            bottom: 30px;
            left: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
            animation: fadein 0.5s, fadeout 1s 4.5s;
        }

        @-webkit-keyframes fadein {
            from {
                left: 0;
                opacity: 0;
            }

            to {
                left: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                left: 0;
                opacity: 0;
            }

            to {
                left: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                left: 30px;
                opacity: 1;
            }

            to {
                left: -550px;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                left: 30px;
                opacity: 1;
            }

            to {
                left: -550px;
                opacity: 0;
            }
        }
    </style>
</head>

<body>
    <div class="message-content">
        <form class="message-content-form" id="form-reset" method="post" action="{{url}}/user/action/reset">
            <legend>Resetar senha</legend>
            <label for="password">Nova Senha:</label>
            <input type="password" id="password" name="password" class="message-content-form-input" required
                minlength="6" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{6}$"
                title="A senha deve ter no mínimo 6 caracteres, letras maiúsculas, letras minúsculas, numerais e caracteres especiais">
            <label for="password_confirm">Confirmar Senha:</label>
            <input type="password" id="password_confirm" name="password_confirm" class="message-content-form-input"
                required minlength="6" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{6}$"
                title="A senha deve ter no mínimo 6 caracteres, letras maiúsculas, letras minúsculas, numerais e caracteres especiais">
            <input type="hidden" id="token" name="token" value="{{token}}"/>
            <button type="submit" onclick="validationPassword()" class="message-content-button">Confirmar</button>
        </form>

        <div id="snackbar">Some text some message..</div>
    </div>

    <script>
        function validationPassword() {
            var form = document.getElementById('form-reset');
            var password = document.getElementById("password").value;
            var passwordConfirm = document.getElementById("password_confirm").value;
            var x = document.getElementById("snackbar");

            if (!password || !passwordConfirm) {
                x.className = "show";
                x.textContent = "Preencha todos os campos obrigatórios!";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
            }

            if (password !== passwordConfirm) {
                form.addEventListener('submit', (event) => {
                    event.preventDefault();
                });
                x.className = "show";
                x.textContent = "Confirmação de senha incompatível!";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
            }
        }
    </script>
</body>